.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  min-height: 74px;
}

.nav {
  @apply relative flex flex-row justify-between py-10 md:py-4 bg-secondary-2;
}

.navMenu {
  @apply hidden ml-6 space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-accent-3;
}

.link:hover {
  @apply text-accent-1;
}

.link:focus {
  @apply outline-none text-accent-8;
}
.Image {
  filter: invert(99%) sepia(0%) saturate(1179%) hue-rotate(337deg)
    brightness(113%) contrast(80%);
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
